<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/assets/compose.css" rel="stylesheet" type="text/css">
  <script src="/assets/script.js"></script>
  <title>Aether</title>
</head>

<body>
  <%- include('partials/header', {'userEmail': userEmail}) %>
    <div class="info-container">
      <%- include('partials/sidepanel', {'userEmail': userEmail}) %>
        <% const months=["Jan", "Feb" , "Mar" , "Apr" , "May" , "Jun" , "Jul" , "Aug" , "Sep" , "Oct" , "Nov" , "Dec" ]
          %>
          <div class="email-container">
            <div class="compose-container">
              <h1>New message</h1>
              <form action="/compose" method="post">
                <div class="prompt-container">
                  <label for="messageRecipient"><b>To:</b></label>
                  <div>
                    <select name="messageRecipient" id="messageRecipient">
                      <option value="select">Select an Email</option>
                    <% for (let i = 0; i < messageRecipients.length; i++) { %>
                      <option value="<%=messageRecipients[i]['userEmail']%>"><%=messageRecipients[i]['userEmail']%></option>
                    <% } %>
                    </select>
                      
                  </div>
                  <div class="err"><%= typeof messageRecipientError !== 'undefined' ? messageRecipientError : '' %></div>
                </div>
                <div class="prompt-container">
                  <label for="uname"><b>Subject:</b></label>
                  <div>
                    <input type="text" placeholder="<no subject>" name="messageSubject"
                      value="<%= typeof messageSubject !== 'undefined' ? messageSubject : '' %>">
                  </div>
                </div>
                  <div class="prompt-container">
                    <label for="uname"><b>Body:</b></label>
                    <div>
                      <textarea id="message-body" name="messageBody" rows="4" cols="50"></textarea>
                    </div>
                  </div>
                <div class="prompt-container">
                  <button type="submit">Send</button>
                </div>
              </form>
              <div class="ok">
              <%= typeof composeStatus !=='undefined' ? composeStatus : '' %>
              </div>
            </div>
          </div>
    </div>
</body>

</html>
