<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/outbox.css" rel="stylesheet" type="text/css">
        <script src="/assets/script.js"></script>
        <title>Aether - Outbox</title>
    </head>
    <body>
        <%- include('partials/header', {'userEmail': userEmail}) %>
        <div class="info-container">
        <%- include('partials/sidepanel', {'userEmail': userEmail}) %>
        <% const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"] %>
        <div class="email-container">
        <% for (var i = 0; i < messages.length ; i++) { %>
          <a class="email-info" href="/outbox/<%-messages[i]['messageID']%>">
            <div class="email-left">
              <div><p> <%= messages[i]["messageAuthorFullName"] %></p></div>
              <div><p> <%= messages[i]["messageSubject"] %></p></div>
            </div>
            <div class="email-right">
              <div><p> <%= messages[i]["messageDate"].getDate() + " " + months[messages[i]["messageDate"].getMonth()] + ", " + messages[i]["messageDate"].getFullYear() %></p></div>
            </div>
          </a>
            <% } %>
          </div>
        </div>
    </body>
</html>
